name: NodeJS with Webpack

on:
  push:
    branches: ["zen-zone"]
  pull_request:
    branches: ["zen-zone"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build (webpack + build script)
        run: |
          pnpm run webpack
          pnpm run build

      - name: (optional) Run tests
        run: pnpm test
